SCW_URL=http://localhost:3000/
WALLET_SEED=""

# 'line' or 'google'
OAUTH_MODE="line"
LINE_TEST_EMAIL=""
LINE_TEST_PASSWORD=""
LINE_SESSION_STATE=""

# Google (Option)
GOOGLE_TEST_EMAIL=""
GOOGLE_TEST_PASSWORD=""
GOOGLE_TOTP_SECRET=""
GOOGLE_SESSION_STATE=""